
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width:1920px;
    height:1080px;
}



/* home-page */


.main-page{
    background-color:#ffffff;
    background-image: url(../image/background.png);
    background-repeat: no-repeat;
    background-size:contain;
    width:100%;
    height:100%;
    position:relative;
}

.top-logo{
    position:absolute;
    top:25px;
    left:70px;
}

.center-logo{
    position: absolute;
   left: 1076px;
   top: 473px;
}

.border{
    border: 1px solid #1A1A1A;
    position: absolute;
    left: 70px;
    top: 89px;
    width:92%;

}

.add-resume{
    display:flex;
    justify-content:center;
    align-items: center;
    height:100%;
    
}

.btn{
    width:464px;
    height:60px;
    background-color:#1A1A1A;
    border-radius:8px;
    padding:18px 60px;
    color:#ffffff;
    font-family: 'Helvetica Neue';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;

}

/* resume first page */

.background{
    background-color:
    rgba(188, 188, 188, 1)
}
.grid-page{
    display:grid;
    grid-template-columns: 8% 50% 42%;
    grid-template-areas:
    'back-btn, form, resume';
}

.form-side{
    padding-right:149px;
}
.heading{
    padding-top:47px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #1A1A1A;
    margin-bottom:77px;
   
}


.back-btn{
    padding:45px 48px;
}
.priv-info{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-bottom:12px;
    color:#1A1A1A;

}

.back-arrow{
    display:flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background-color:#ffffff;
    border-radius:50%;
    color:#2E2E2E;
   
}

.page{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1A1A1A;
}


/* form */
.form{
    display:flex;
    flex-direction: column;
   
}
.form-name{
    display:flex;
    justify-content: space-between;
}

.name{
    display:flex;
    flex-direction: column;
    justify-content:center;
   
}

.input-title{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding-bottom:8px;
    color:#000000;
    padding-top:33px;
}

.input-name{

width: 371px;
height: 48px;
background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
padding: 13px 16px 14px 16px;
}

.input-span{

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
color:#2E2E2E;
padding-top:8px;
}

.img-input{
    padding:54px 0;
}
.about-input{  
width: 798px;
height: 103px;
background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
}

.contact{
width: 798px;
height: 48px;
background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
}


.footer-button{
    
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-buttons{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.next{
    background: #6B40E3;
    border-radius: 4px;
    color:#FFFFFF;
    width:151px;
    height:48px;
    margin-top:95px;
    margin-bottom:65px;
    cursor:pointer;
    padding: 18px 60px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    display:flex;
    justify-content: center;
    align-items: center;
}

.resume{
    background-color:#FFFFFF;
    height:1080px;
    display:flex;
    justify-content:flex-start;
    align-items: flex-end;
    padding:0 0 44px 78px;
}


/* second page form */

.description{
    width: 798px;
    height: 123px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
}
.additional-info{
    display:none;
}
.active{
    display:block;
}
.description-input{
    display:flex;
    flex-direction: column;
    justify-content:center;
    border-bottom:1px solid red;
    padding-bottom:59px;
}

.add-info{
    margin-top:45px;
    display:flex;
    justify-content: flex-start;
}

.more-info{
    width: 289px;
    height: 48px;
    background-color:rgba(98, 161, 235, 1);
    color:#FFFFFF;
    border-radius:4px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding:14px 21px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* third page form */

.select{
 width: 371px;
height: 48px;
background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
padding:13px 16px 14px 16px; 
}

.education{
 width: 798px;
height: 179px;
background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
}